:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --team-button-bgr: #f5f4fa;
  --footer-hero-bgr: #2f303a;
  --head-border-line: #ececec;
  --projects-border-line: #eeeeee;
  --icons-color: #afb1b8;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a.link,
.link-current {
  text-decoration: none;
}

body {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.72;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* logo header+footer*/
.nav {
  display: flex;
}
.logo.header a {
  display: inline-flex;
  align-items: center;
}

.header-nav {
  background-color: var(--basic-white);
}
.header-nav.border-line {
  border-bottom: 1px solid var(--head-border-line);
}

.logo:focus,
.footer a:focus {
  color: none;
}

.logo > .link,
.footer .logo {
  color: var(--basic-black);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.29;
}

.logo {
  display: flex;
  align-items: center;
}

.logo .logo-half,
.footer .logo-half {
  color: var(--accent-color);
}

/* navigation links */

.site-nav {
  display: flex;
  margin-left: 93px;
}
/* у первого елемента нет соседа справа, селектор не применяется */
.site-nav.list .item + .item {
  margin-left: 50px;
}

/* То же самое из конспекта: отступы у всех кроме посл елемента */
/* .site-nav.item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav a {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info {
  display: inline-flex;
  align-items: baseline;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.contact-info .item:not(:last-child) {
  margin-right: 50px;
}
.contact-info .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link-current,
.contact-info .link:hover,
.contact-info .link:focus {
  color: var(--accent-color);
}

.link-current {
  position: relative;
}

.link-current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  margin: 0;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* hero */
.hero {
  max-width: 1600px;
  display: block;
  background: var(--footer-hero-bgr);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;

  color: var(--basic-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero a {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--basic-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 30px;
  width: 528px;
  height: 581px;

  background-color: var(--basic-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal p {
  margin-top: 10px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-weight: 700;
  text-align: center;
}

.hero .link:hover,
.hero .link:focus {
  color: var(--basic-white);
}

/* Titles */
.title {
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;

  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features */
.features,
.services {
  padding-top: 94px;
  background-color: var(--basic-white);
}

.services {
  padding-bottom: 94px;
}

img {
  display: block;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Flex + wrap: features, services, team */

.feature-list,
.services-list,
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.feature-item {
  width: 270px;
}

.services-item {
  width: 370px;
}

.feature-item,
.services-item,
.team-item {
  margin-right: 30px;
}

.feature-item:last-child,
.services-item:last-child,
.team-item:last-child {
  margin-right: 0;
}

.icon-features {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  margin-bottom: 30px;
  background: var(--team-button-bgr);
  border-radius: 4px;
}

/* Services: text over the picture */

.offers {
  position: relative;
}

.offer-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;
  background-color: rgba(47, 48, 58, 0.8);
}

.offer-item p {
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

/* Team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--team-button-bgr);
}

.team-item {
  width: 270px;
  background: var(--basic-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-position {
  min-width: 76px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}

.names {
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
}
.job {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);
  background-color: var(--basic-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links.footer .link {
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link:hover,
.social-links .link:focus {
  color: var(--basic-white);
  background-color: var(--accent-color);
}

.social-links.footer a.link:hover {
  background-color: var(--accent-color);
}

.icon-socials {
  fill: currentColor;
}

/* Clients */

.clients .title {
  padding-top: 94px;
}

.clients-list {
  display: flex;
  padding-bottom: 94px;
  align-items: center;
  width: 170px;
}

.clients-list .item + .item {
  margin-left: 30px;
}

.clients-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid var(--icons-color);
  border-radius: 4px;

  color: var(--icons-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .link:hover,
.clients-list .link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.icon-clients {
  fill: currentColor;
}

/* Footer */
footer {
  display: flex;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-hero-bgr);
}

.footer .logo {
  padding: 0;
  color: var(--basic-white);
}

.address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: var(--basic-white);
  font-style: normal;
}

.address a {
  margin-top: 9px;
  text-decoration: none;
  font-size: 14px;
  color: rgb(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address a:hover,
.address a:focus {
  color: var(--accent-color);
}

.container.network {
  display: flex;
  align-items: baseline;
}

.join-us {
  display: block;
  justify-content: center;

  margin-left: 93px;
  width: 206px;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
  color: var(--basic-white);
}

.social-links.footer {
  display: flex;
  margin-top: 20px;
}

/* Portfolio */
.projects {
  padding-top: 94px;
  margin-bottom: 0;
  padding-bottom: 94px;
}

.buttons-menu .button {
  display: inline-block;
  border: 1px solid transparent;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--title-color);
  background-color: var(--team-button-bgr);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.projects .buttons-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-menu .item + .item {
  margin-left: 8px;
}
.button {
  box-shadow: 0 0 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--basic-white);
}

.projects-list .link:focus,
.projects-list .link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 0;
  margin: 0;
}

.project-text {
  padding: 20px 24px;
  margin: 0;
  border: 1px solid var(--projects-border-line);
  border-top: 1px solid transparent;
}

.project-title {
  margin: 0;

  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.project-category {
  margin: 0;
  margin-top: 4px;

  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.projects-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-list .item:nth-child(3n) {
  margin-right: 0;
}

.projects-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects-list .link:hover .card-overlay {
  transform: translateY(0);
}

.card {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
}

.card-overlay p {
  font-size: 18px;
  color: var(--basic-white);
}
